{{>header}}

<h1>Hi, {{name}}!</h1>
<p class="account">You've successfully created an account.</p>

<a class="accountbutton" href="#">Start Matching</a>
<a class="accountbutton" href="#">See your account</a>

{{>nav}}