{{>header}}

<ul class="chat">
    <li class="animate">
        <img src="images/squidward.jpeg" alt="">
        <h2>Squidward</h2>
        <p>Clarinet Player</p>
    </li>

    <li class="animate">
        <img src="images/janno.jpeg" alt="">
        <h2>Janno</h2>
        <p>Back-End Amateur</p>
    </li>

    <li class="animate">
        <img src="images/shrek.png" alt="">
        <h2>Shrek</h2>
        <p>Painter</p>
    </li>

    <li class="animate">
        <img src="images/robert.jpeg" alt="">
        <h2>Robert</h2>
        <p>Web Wizard</p>
    </li>

    <li class="animate">
        <img src="images/daan.png" alt="">
        <h2>Danique</h2>
        <p>Web Wizard Apprentice</p>
    </li>

    <li class="animate">
        <img src="images/hein.png" alt="">
        <h2>Hein</h2>
        <p>Pro E-Mailer</p>
    </li>
</ul>



{{>nav}}

<script src="scripts/chat.js"></script>