{{>header}}

<form action="/account.hbs" id="createaccount3">
            <p>Add Pictures</p>
            <label for="pictures" class="fileinput one"></label>
            <input type="file" accept="image/*" id="pictures" name="pictures" class="invisible" multiple>

            <p>Add Videos</p>
            <label for="videos" class="fileinput two"></label>
            <input type="file" accept="video/*" id="videos" name="videos" class="invisible" multiple>

            <p>Add Audio</p>
            <label for="audio" class="fileinput three"></label>
            <input type="file" accept="audio/*" id="audio" name="audio" class="invisible" multiple>
        </form>

        <button type="submit" form="createaccount3">Next</button>