{{>header}}

<form action="/createaccount3" id="createaccount2">

            
                <p>Tags</p>
                <p>Define yourself as an artist, what disciplines do
                    you work in?</p>

               <div class="tags">     
                <div class="tag"><input type="checkbox" id="graphicdesign" name="graphicdesign">
                <label for="graphicdesign">Graphic Design</label></div>
        
                <div class="tag"><input type="checkbox" id="uxui" name="uxui">
                <label for="uxui">UX/UI</label></div>
        
                <div class="tag"><input type="checkbox" id="webdesign" name="webdesign">
                <label for="webdesign">Web Design</label></div>
        
                <div class="tag"><input type="checkbox" id="physicalart" name="physicalart">
                <label for="physicalart">Physical Art</label></div>
        
                <div class="tag"><input type="checkbox" id="videoediting" name="videoediting">
                <label for="videoediting">Video Editing</label></div>
        
                <div class="tag"><input type="checkbox" id="painting" name="painting">
                <label for="painting">Painting</label></div>
        
                <div class="tag"><input type="checkbox" id="videocreation" name="videocreation">
                <label for="videocreation">Video Creation</label></div>
        
                <div class="tag"><input type="checkbox" id="animation" name="animation">
                <label for="animation">Animation</label></div>
        
                <div class="tag"><input type="checkbox" id="3d" name="3d">
                <label for="3d">3D</label></div>
        
                <div class="tag"><input type="checkbox" id="photography" name="photography">
                <label for="photography">Photography</label></div>
            </div>
        
            <div class="lookingfor">
                <p>Looking for...</p>
                <div class="checkboxwide">
                <input type="checkbox" id="doingwork" name="doingwork">
                <label for="doingwork">Doing work for someone</label></div>
        
                <div class="checkboxwide">
                <input type="checkbox" id="workingfor" name="workingfor">
                <label for="workingfor">Working for someone</label></div>
        
                <div class="checkboxwide">
                <input type="checkbox" id="workingwith" name="workingwith">
                <label for="workingwith">Working with someone</label></div>
        
            </div>
        </form>
        
        <button type="submit" form="createaccount2">Next</button>