{{>headercreate}}

<div class="form-underlay">
    <form action="/createaccount" name="createaccount" id="createaccount" method="POST">
        <label for="fname">First name</label>
        <input type="text" id="fname" name="fname">

        <label for="lname">Last name</label>
        <input type="text" id="lname" name="lname">

        <label for="email">Email Address</label>
        <input type="email" id="email" name="email">

        <label for="password">Password</label>
        <input type="password" id="password" name="password">

        <label for="confirmpassword">Confirm Password</label>
        <input type="password" id="confirmpassword" name="confirmpassword">

        <label for="discipline">Art Discipline</label>
        <input type="text" id="discipline" name="discipline">

        <div class="terms">
            <input type="checkbox" id="terms" name="terms_conditions">
            <label for="terms">I agree with the terms & conditions</label>
        </div>
        
        <div id="error"></div>
    </form>

    <button type="submit" form="createaccount">Next</button>
</div>

<script src="scripts/script.js"></script>