<img class="welcomelogo" src="images/logo.png" alt="">
<button class="welcomebutton">Start</button>

<div class="gettingstarted">
    <a class="accountbutton" href="createaccount">Create Account</a>
    <a class="accountbutton" href="login">Login</a>
</div>


<script src="scripts/home.js"></script>